{
   "presets": [
    ["@babel/preset-env", {
       "targets": {
          "ie": "11",
	  "edge": "10",
	  "safari": "15",
	  "firefox": "50",
	  "chrome": "49"
	  }
    }],
    "@babel/preset-react"
  ]
}
